@charset "utf-8";

/*----------------------------------------
	@use
----------------------------------------*/
@use "foundation/" as *;

/*----------------------------------------
	c-breadcrumb
----------------------------------------*/
.c-breadcrumb {
	max-width: 1000px;
	padding: 10px 15px;
	margin: 0 auto;

	li {
		position: relative;
		display: inline;
		font-size: 1.2rem;
		list-style: none;
		margin: 0 20px 0 0;

		&:after {
			content: ">";
			position: absolute;
			right: -18px;
			top: 0;
			bottom: 0;
			height: 20px;
			margin: auto;
		}

		&:last-child {
			&:after {
				content: none;
			}
		}
	}

	a {
		display: inline-block;
	}
}

@include mq(pc) {}