@charset "utf-8";

/*----------------------------------------
	@use
----------------------------------------*/
@use "foundation/" as *;

/*----------------------------------------
	u-device-sp
----------------------------------------*/
.u-device-sp {
	@include mq(pc) {
		display: none;
	}
}

/*----------------------------------------
	u-device-pc
----------------------------------------*/
.u-device-pc {
	display: none;
	@include mq(pc) {
		display: block;
	}
}